.controllers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&:empty {
		color: red;

		&::after {
			content: 'controller not found';
			display: block;
			text-align: center;
		}
	}
}
